astroid
attrs
certifi
chardet
click
codecov
colorama
coverage
Flask
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
more-itertools
numpy
pluggy
py
pylint
pymongo
pytest
pytest-cov
requests
six
urllib3
Werkzeug
wrapt
