<html>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        var messages = {{ messages | safe}} ;
        for (var i = 0; i < messages.length; i++) {
            alert(messages[i]);
        }
    </script>
    {% endif %}
    {% endwith %}
<p id="greeting"></p>
<script>var myDate = new Date();
var greeting = "Hello World!";
/* hour is before noon */
{%if current_user.is_active %}
if (myDate.getHours() < 12) {
    greeting = "Good Morning, {{current_user.username}}!";
}
else  /* Hour is from noon to 5pm (actually to 5:59 pm) */
if (myDate.getHours() >= 12 && myDate.getHours() <= 17) {
    greeting = "Good Afternoon, {{current_user.username}}!";
}
else  /* the hour is after 5pm, so it is between 6pm and midnight */
if (myDate.getHours() > 17 && myDate.getHours() <= 24) {
    greeting = "Good Evening, {{current_user.username}}!"
}
{% endif %}
{%if not current_user.is_active %}
if (myDate.getHours() < 12) {
    greeting = "Good Morning!";
}
else  /* Hour is from noon to 5pm (actually to 5:59 pm) */
if (myDate.getHours() >= 12 && myDate.getHours() <= 17) {
    greeting = "Good Afternoon!";
}
else  /* the hour is after 5pm, so it is between 6pm and midnight */
if (myDate.getHours() > 17 && myDate.getHours() <= 24) {
    greeting = "Good Evening!"
}
{%  endif %}
var result = greeting.fontsize(5).fontcolor("white");
document.getElementById("greeting").innerHTML = result;
</script>
{% block content %}{% endblock %}
</html>