<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Capacity</th>
      <th>Permission</th>
      <th>Floor</th>
    </tr>
  </thead>
  <tbody>
  {% for item in search %}
    <tr>
      {% set list1 = item.split(",") %}
      <td>{{list1[0]}}</td>
      <td>{{list1[1]}}</td>
      <td>{{list1[2]}}</td>
      <td>{{list1[3]}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>








</body>
</html>