<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static' , filename= 'images/favicon.png') }}">
    <title>The Doors</title>

    <link href="{{ url_for('static' , filename='css/lib/chartist/chartist.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' , filename='css/lib/owl.carousel.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static' , filename='css/lib/owl.theme.default.min.css') }}" rel="stylesheet"/>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static' , filename='css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static' , filename='css/helper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' ,filename= 'css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' , filename= 'css/nouislider.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static' , filename= 'css/nouislider.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://demos.jquerymobile.com/1.4.2/css/themes/default/jquery.mobile-1.4.2.min.css">
    <!--<script src="https://demos.jquerymobile.com/1.4.2/js/jquery.js"></script>-->
    <!--{#    <script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>#}-->


    <!--<script src="https://demos.jquerymobile.com/1.4.2/js/jquery.mobile-1.4.2.min.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
<script src="{{ url_for('static' , filename= 'js/nouislider.min.js') }}"></script>
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->

                    <!-- End Messages -->
                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">

                    <!-- Search -->

                    <!-- Comment -->
                    <!-- End Comment -->
                    <!-- Messages -->
                    <!-- End Messages -->
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img
                                src="{{ url_for('static' , filename='images/users/userImage.png') }}" alt="user"
                                class="profile-pic"/></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a href="{{ url_for('settings') }}"><i class="ti-settings"></i> Setting</a></li>
                                <li><a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Left Sidebar  -->
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    {% if manager %}

                        <li class="nav-label">Home</li>
                        <li><a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                class="hide-menu">Dashboard <span
                                class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
{#                                <li><a href="{{ url_for('route_simulation') }}">Simulation </a>#}
                                </li>
                                <li><a href="{{ url_for('route_analytics') }}">Analytics </a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                class="hide-menu">Manager Tools <span
                                class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ url_for('route_employee_datatable') }}">Employees </a>
                                </li>
                                <li><a href="{{ url_for('route_rooms_datatable') }}">Rooms </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    <li class="nav-label">Actions</li>
                    <li><a href="{{ url_for('route_edit_friends') }}">Edit Friends</a></li>
                    <li><a href="{{ url_for('route_reserve_room') }}">Reserve Room</a></li>
                    <li><a href="{{ url_for('route_reservations') }}">Reservations</a></li>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Schedule Your Next Meeting:</h3></div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Reserve room</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->

        <!-- Start Page Content -->

        <div class="tab-pane  p-20" id="add" role="tabpanel">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card card-outline-primary">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white">New Order</h4>
                        </div>
                        <div class="card-body">
                            <form action="{{ url_for('route_reserve_room') }}" method="post">
                                <div class="form-body">
                                    <h3 class="card-title m-t-15">Reserve Info</h3>
                                    <hr>
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Date</label>
                                                <input name="date" type="date" id="date"
                                                       class="form-control" value=""
                                                       required >
                                            </div>
                                            <script>$(function () {

                                                var now = new Date(),
                                                    minDate = now.toISOString().substring(0, 10);
                                                $("#date").prop('min', minDate);
                                                $("#date").prop('value', minDate);

                                            })
                                            </script>

                                            <div class="form-group">
                                                <label class="control-label">Guests - option</label>
                                                <select name="participants" type="text" list="friends"
                                                        class="form-control custom-select js-example-basic-multiple"
                                                        data-placeholder="Choose a Category"
                                                        tabindex="1" multiple>
                                                    {% for friend in friends %}
                                                        <option value="{{ friend }}">{{ friend }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-success"><i
                                                        class="fa fa-check"></i> Add
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label class="control-label">Begin Hour</label>
                                                    <select name="start" id="start"
                                                            class="form-control"
                                                            required>
                                                        <option value="8">8:00</option>
                                                        <option value="9">9:00</option>
                                                        <option value="10">10:00</option>
                                                        <option value="11">11:00</option>
                                                        <option value="12">12:00</option>
                                                        <option value="13">13:00</option>
                                                        <option value="14">14:00</option>
                                                        <option value="15">15:00</option>
                                                        <option value="16">16:00</option>
                                                        <option value="17">17:00</option>
                                                        <option value="18">18:00</option>
                                                    </select>

                                                </div>
                                                <label class="control-label">Meeting Duration</label>
                                                <select name="duration" id="duration"
                                                        class="form-control"
                                                        required>
                                                    <option value="1"> 1 Hour</option>
                                                    <option value="2"> 2 Hours</option>
                                                    <option value="3"> 3 Hours</option>
                                                </select>
                                            </div>


                                            <!--/span-->

                                        </div>
                                        <!--/row-->

                                        <!--/row-->

                                        <!--/row-->

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /# column -->
    </div>
    <!-- /# row -->


    <!-- End Container fluid  -->
    <!-- footer -->
    <!-- End footer -->
</div>
<!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="{{ url_for('static' , filename= 'js/lib/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ url_for('static' , filename= 'js/lib/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ url_for('static' , filename= 'js/jquery.slimscroll.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ url_for('static' , filename= 'js/sidebarmenu.js') }}"></script>
<!--stickey kit -->
<script src="{{ url_for('static' , filename= 'js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>


<script src="{{ url_for('static' , filename= 'js/lib/datamap/d3.min.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/datamap/topojson.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/datamap/datamaps.world.min.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/datamap/datamap-init.js') }}"></script>

<script src="{{ url_for('static' , filename= 'js/lib/weather/jquery.simpleWeather.min.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/weather/weather-init.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/owl-carousel/owl.carousel-init.js') }}"></script>


<script src="{{ url_for('static' , filename= 'js/lib/chartist/chartist.min.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/chartist/chartist-plugin-tooltip.min.js') }}"></script>
<script src="{{ url_for('static' , filename= 'js/lib/chartist/chartist-init.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ url_for('static' , filename= 'js/custom.min.js') }}"></script>

</body>

</html>