<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {# here we try something new#}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/reset.css') }}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style-calander.css') }}"> <!-- Resource style -->
    {# done here#}

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename= 'images/favicon.png') }}">
    <title>The Doors</title>


    <link href="{{ url_for('static', filename= 'css/lib/calendar2/semantic.ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename= 'css/lib/calendar2/pignose.calendar.min.css') }}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename= 'css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename= 'css/helper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->

                    <!-- End Messages -->
                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">

                    <!-- Search -->

                    <!-- Comment -->
                    <!-- End Comment -->
                    <!-- Messages -->
                    <!-- End Messages -->
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img
                                src="{{ url_for('static' , filename='images/users/userImage.png') }}" alt="user"
                                class="profile-pic"/></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a href="{{ url_for('settings') }}"><i class="ti-settings"></i> Setting</a></li>
                                <li><a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Left Sidebar  -->
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    {% if manager %}

                        <li class="nav-label">Home</li>
                        <li><a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                class="hide-menu">Dashboard <span
                                class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
{#                                <li><a href="{{ url_for('route_simulation') }}">Simulation </a>#}
{#                                </li>#}
                                <li><a href="{{ url_for('route_analytics') }}">Analytics </a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span
                                class="hide-menu">Manager Tools <span
                                class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ url_for('route_employee_datatable') }}">Employees </a>
                                </li>
                                <li><a href="{{ url_for('route_rooms_datatable') }}">Rooms </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    <li class="nav-label">Actions</li>
                    <li><a href="{{ url_for('route_edit_friends') }}">Edit Friends</a></li>
                    <li><a href="{{ url_for('route_reserve_room') }}">Reserve Room</a></li>
                    <li><a href="{{ url_for('route_reservations') }}">Reservations</a></li>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">My reservations</h3></div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Actions</a></li>
                    <li class="breadcrumb-item active">Reservations</li>
                </ol>
            </div>
        </div>


        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        {#
        <div class="container-fluid">#}
        <!-- Start Page Content -->
        {#
            <div class="row justify-content-center">#}
        {#
                <div class="col-lg-6">#}
        {#
                    <div class="card">#}
        {#
                        <div class="card-body">#}
        {#
                            <div class="year-calendar"></div>
                            #}

        {# here we try sometihng new #}
        <div class="cd-schedule loading">
            <div class="timeline">
                <ul>
                    <li><span>08:00</span></li>
                    <li><span>09:00</span></li>
                    <li><span>10:00</span></li>
                    <li><span>11:00</span></li>
                    <li><span>12:00</span></li>
                    <li><span>13:00</span></li>
                    <li><span>14:00</span></li>
                    <li><span>15:00</span></li>
                    <li><span>16:00</span></li>
                    <li><span>17:00</span></li>
                    <li><span>18:00</span></li>
                    <li><span>19:00</span></li>
                    <li><span>20:00</span></li>
                    <li><span>21:00</span></li>
                    <li><span>22:00</span></li>
                    <li><span>23:00</span></li>
                    <li><span>00:00</span></li>

                </ul>
            </div> <!-- .timeline -->
            {% for meeting in meetings %}
                <form id="{{ meeting._id }}"
                      action="{{ url_for('meeting_info') }}" method="POST" hidden>

                    <input type="text" name="meeting_id" hidden value="{{ meeting._id }}">


                </form>
            {% endfor %}


            <div class="events">
                <ul>
                    <li class="events-group">
                        <div class="top-info"><span>Sunday</span></div>

                        <ul>
                            {% for meeting in meetings %}
                                {% if meeting.get_day() == 'Sunday' %}
                                    <li class="single-event" data-start="{{ meeting.get_start_time() }}"
                                        data-end="{{ meeting.get_end_time() }}"
                                        data-content="#"
                                        data-event="event-1">
                                        <a href="#"
                                           onclick="document.getElementById('{{ meeting._id }}').submit();"></a>

                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </li>

                    <li class="events-group">
                        <div class="top-info"><span>Monday</span></div>

                        <ul>
                            {% for meeting in meetings %}
                                {% if meeting.get_day() == 'Monday' %}
                                    <li class="single-event" data-start="{{ meeting.get_start_time() }}"
                                        data-end="{{ meeting.get_end_time() }}"
                                        data-content="start: {{ meeting.get_start_time() }}
                                           end: {{ meeting.get_end_time() }}
                                           participants: {{ meeting.participants }}"
                                        data-event="event-2">
                                        <a href="#"
                                           onclick="document.getElementById('{{ meeting._id }}').submit();"></a>

                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </li>

                    <li class="events-group">
                        <div class="top-info"><span>Tuesday</span></div>

                        <ul>
                            {% for meeting in meetings %}
                                {% if meeting.get_day() == 'Tuesday' %}
                                    <li class="single-event" data-start="{{ meeting.get_start_time() }}"
                                        data-end="{{ meeting.get_end_time() }}"
                                        data-content="start: {{ meeting.get_start_time() }}
                                                       end: {{ meeting.get_end_time() }}
                                                        participants: {{ meeting.participants }}"
                                        data-event="event-3">
                                        <a href="#"
                                           onclick="document.getElementById('{{ meeting._id }}').submit();"></a>

                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </li>

                    <li class="events-group">
                        <div class="top-info"><span>Wednesday</span></div>

                        <ul>
                            {% for meeting in meetings %}
                                {% if meeting.get_day() == 'Wednesday' %}

                                    <li class="single-event" data-start="{{ meeting.get_start_time() }}"
                                        data-end="{{ meeting.get_end_time() }}"
                                        data-content="start: {{ meeting.get_start_time() }}
                                                       end: {{ meeting.get_end_time() }}
                                                        participants: {{ meeting.participants }}"
                                        data-event="event-4">


                                        <a href="#"
                                           onclick="document.getElementById('{{ meeting._id }}').submit();"></a>


                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="events-group">
                        <div class="top-info"><span>Thursday</span></div>

                        <ul>
                            {% for meeting in meetings %}

                                {% if meeting.get_day() == 'Thursday' %}
                                    <li class="single-event" data-start="{{ meeting.get_start_time() }}"
                                        data-end="{{ meeting.get_end_time() }}"
                                        data-content=""
                                        data-event="event-1">

                                        <a href="#"
                                           onclick="document.getElementById('{{ meeting._id }}').submit();"></a>

                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="cover-layer"></div>
        </div> <!-- .cd-schedule -->
        <script src="{{ url_for('static' , filename='js/modernizr.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script>
            if (!window.jQuery) document.write('<script src="{{ url_for("static" , filename="js/jquery-3.0.0.min.js") }}"><\/script>');


        </script>
        <script src="{{ url_for('static' , filename='js/main.js') }}"></script>
        <!-- Resource jQuery -->


        {# here we try sometihng new #}

        {#
                        </div>
                        #}
        {#
                    </div>
                    #}
        {#
                </div>
                #}
        {#
            </div>
            #}
        <!-- End PAge Content -->
        {#
        </div>
        #}
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. Template designed by <a
                href="https://colorlib.com">Colorlib</a></footer>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="{{ url_for('static', filename= 'js/lib/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ url_for('static', filename= 'js/lib/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/lib/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ url_for('static', filename= 'js/jquery.slimscroll.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ url_for('static', filename= 'js/sidebarmenu.js') }}"></script>
<!--stickey kit -->
<script src="{{ url_for('static', filename= 'js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>

<script src="{{ url_for('static', filename= 'js/lib/calendar-2/moment.latest.min.js') }}"></script>
<!-- scripit init-->
<script src="{{ url_for('static', filename= 'js/lib/calendar-2/semantic.ui.min.js') }}"></script>
<!-- scripit init-->
<script src="{{ url_for('static', filename= 'js/lib/calendar-2/prism.min.js') }}"></script>
<!-- scripit init-->
<script src="{{ url_for('static', filename= 'js/lib/calendar-2/pignose.calendar.min.js') }}"></script>
<!-- scripit init-->
<script src="{{ url_for('static', filename= 'js/lib/calendar-2/pignose.init.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ url_for('static', filename= 'js/custom.min.js') }}"></script>

</body>

</html>